main{
    position: relative;
}
.contenedor-menu-desktop{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-menu-desktop a{
    color:var(--color-1);
    text-decoration: none;
}

.contenedor-menu-desktop a:hover{
    color:var(--color-2);
}

.seccion-menu{
    background-color: var(--color-fondo-principal);
    position: fixed;
    z-index: 100;
    min-height: 100vh;
}

.contenedor-menu-movil{
    height: 80px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.menu-movil{
    background-color: var(--color-fondo-principal);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 1000;
    transform: scale(0.9);
    opacity: 0;
    transition: transform .5s ease-out, opacity .5s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-items-movil{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-items-movil a{
    width: 100px;
    height: 100px;
    text-decoration: none;
    color: var(--color-1);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    transition: transform .5s ease-out;
}

.contenedor-items-movil a span{
    display: block;
}

.contenedor-items-movil a:hover{
    color: #fff;
    transform: scale(0.9);
    background-color: var(--color-1);
}

.pointer-event-none{
    pointer-events: none;
}

.mostrar-menu-movil{
    transform: scale(1);
    opacity: 1;
}

.icon-menu-movil {
    color: var(--color-1);
    width: 40px;
    height: 40px;
}

.icon-menu-movil:hover{
    color: var(--color-2);
}

.icon-x-menu-movil {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-1);
    transition: color .5s ease-out, transform .5s ease-out;
}

.icon-x-menu-movil:hover{
    color: var(--color-2);
    transform: scale(1.2);
}

.social-bar-menu-movil,.social-bar-menu-desktop{
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;

}

.social-bar-menu-movil{
    bottom: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
}

.social-bar-menu-desktop{
    /* background-color: var(--color-fondo-principal); */
    position: fixed;
    z-index: 100;
    height: 60px;
}

.social-bar-menu-movil a,.social-bar-menu-desktop a{ 
    color: var(--color-1);
}

.social-bar-menu-movil a,.social-bar-menu-desktop a:hover{ 
    color: var(--color-2);
}

.icon-social-menu-movil,.icon-social-menu-desktop{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.social-bar-menu-desktop{
    top: 0;
    right: 0;
    justify-content: end;
    align-items: center;
}

.seccion-inicio{
    width: 100%;
    min-height: 100vh;
    background-image: url(../image/imagen_16.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    position: relative;
}

.contenedor-editor,.contenedor-editor-movil{
    background-color: var(--color-3);
    width: 540px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid var(--color-1);
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-editor-movil{
    display: none;
    width: 380px;
    max-width: 440px;
    height: 300px;
}

.contenedor-editor{
    width: 540px;
    height: 400px;
    position: absolute;
    top: 120px;
    right: 80px;
    display: flex;
    z-index: 90;
}

.encabezado-editor{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid var(--color-1);
    position: relative;
}

.contenedor-nombre-fichero{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nombre-fichero{
    color: var(--color-texto-comentario-editor-2);
    font-size: 1.5rem;
}

.punto-editor{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 8px;
}

.fondo-rojo{
    background-color: var(--color-puto-rojo);
}

.fondo-amarillo{
    background-color: var(--color-puto-amarillo);
}

.fondo-verde{
    background-color: var(--color-puto-verde);
}

.body-editor{
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 991px) {
    .seccion-menu{
        min-height: 5vh;
    }

    .contenedor-menu-desktop{
        display: none;
    }

    .contenedor-menu-movil{
        display: flex;
    }

    .contenedor-editor{
        display: none;
    }

    .seccion-inicio{
        background-image: url(../image/imagen_18.png);
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contenedor-editor-movil{
        display: flex;
    }
}